extends navbar
block content
  h1 #{page}
  if suggest==1
    +alert-info("Perhaps you want to buy a HDMI Cable?")
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non mattis magna. Nam pellentesque, orci non sollicitudin lacinia, turpis eros consectetur risus, non hendrerit urna nisi sed nisi. Curabitur mattis, lorem id vehicula mattis, sapien dui placerat leo, vitae convallis odio arcu quis lectus. Nullam ac convallis lectus. Maecenas tempor urna nisl, ac sagittis augue imperdiet vel. Quisque sagittis pellentesque tempor. Vestibulum quis sem id quam pellentesque auctor. Mauris feugiat congue ipsum in vestibulum. Donec quis finibus lectus. Vivamus tincidunt dolor in sem tempus, ut eleifend dolor laoreet.
